@{
    ViewData["Title"] = "Tools";
}
<h2>Tools</h2>
<button class="collapsible" type="button">Clear Data</button>
<div class="content">
    <br />
    <form asp-controller="Home" asp-action="ClearMessages">
        <input type="submit" value="Clear Messages" />
    </form>
    <br />
    <form asp-controller="Home" asp-action="ClearServers">
        <input type="submit" value="Clear Servers" />
    </form>
    <br />
</div>
<br />
<button class="collapsible" type="button">.XML</button>
<div class="content">
    <br />
    <form asp-controller="Home" asp-action="XmlCreate">
        <input type="submit" value="Create" /> &nbsp; &nbsp;
        <a download="messages.xml" href="~/xml/messages.xml">Download</a>
    </form>
    <br />
    <form asp-controller="Home" asp-action="XmlLoad">
        <input type="submit" value="Load" /> &nbsp; &nbsp;
    </form>
    <br />
</div>
<br />
<button class="collapsible" type="button">.BIN</button>
<div class="content">
    <br />
    <form asp-controller="Home" asp-action="BinCreate">
        <input type="submit" value="Create" /> &nbsp; &nbsp;
        <a download="messages.bin" href="~/dat/messages.bin" disabled="disabled">Download</a>
    </form>
    <br />
    <form asp-controller="Home" asp-action="BinLoad">
        <input type="submit" value="Load" /> &nbsp; &nbsp;
    </form>
    <br />
</div>
<br />
<button class="collapsible" type="button">Benchmark</button>
<div class="content">
    <br />
    <form asp-controller="Home" asp-action="BenchmarkResult">
        Seconds (1-10): <input type="number" name="sec" min="1" max="10" value="5"/>
        <input type="submit" value="Start" />
    </form>
    <br />
</div>
<br />
<button class="collapsible" type="button">Demo</button>
<div class="content">
    <br />
    <form asp-controller="Home" asp-action="DemoResult">
        <input type="submit" value="Start" />
    </form>
    <br />
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>


